 <div class="panel panel-default">

	<div class="panel-heading">
		<h2>{{ title }}</h2>
	</div>

	<div class="panel-body">
		<ul class="list-group">
			<li
				class="list-group-item"
				*ngFor="let meal of meal_list">
				{{ meal.name }}
				<span class="badge">Protein: {{ meal.protein }}</span>
				<span class="badge">Carbs: {{ meal.carbs }}</span>
				<span class="badge">Fat: {{ meal.fat }}</span>
				<span class="badge">Calories: {{ meal.calories() }}</span>
			</li>
		</ul>

		<button
			class="btn btn-success"
			*ngIf="!is_new"
			(click)="is_new = true">
			New
		</button>

		<button
			class="btn btn-danger"
			*ngIf="!is_new"
			(click)="removeMeal(0)">
			Remove Last
		</button>

		<form #mealForm="ngForm"
			class="form-horizontal"
			*ngIf="is_new">

			<div class="form-group col-md-12">
				<label
					class="col-md-2 control-label"
					for="name">
					Name
				</label>
				<div class="col-md-4">
					<input #name="ngForm"
						id="name" class="form-control" type="text" required
						placeholder="ex. Tacos"
						ngControl="name"
						[(ngModel)]="new_meal.name">
				</div>
			</div>

			<br>

			<div class="form-group col-md-12">
				<label
					class="col-md-2 control-label"
					for="protein">
					Protein
				</label>
				<div class="col-md-4">
					<input #protein="ngForm"
						id="protein" class="form-control" type="text" required
						placeholder="0"
						pattern="[0-9]+"
						ngControl="protein"
						[(ngModel)]="new_meal.protein">
				</div>
			</div>

			<br>

			<div class="form-group col-md-12">
				<label
					class="col-md-2 control-label"
					for="carbs">
					Carbs
				</label>
				<div class="col-md-4">
					<input #carbs="ngForm"
						id="carbs" class="form-control" type="text" required
						placeholder="0"
						ngControl="carbs"
						[(ngModel)]="new_meal.carbs">
				</div>
			</div>

			<br>

			<div class="form-group col-md-12">
				<label
					class="col-md-2 control-label"
					for="fat">
					Fat
				</label>
				<div class="col-md-4">
					<input #fat="ngForm"
						id="fat" class="form-control" type="text" required
						placeholder="0"
						ngControl="fat"
						[(ngModel)]="new_meal.fat">
				</div>
			</div>

			<button
				type="submit"
				class="btn btn-success"
				[disabled]="!mealForm.valid"
				(click)="addMeal()">
				Add
			</button>

			<button
				class="btn btn-warning"
				(click)="is_new=false">
				Cancel
			</button>

		</form>

	</div>
</div>
